/*主体部分样式*/
.resume {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    perspective: 1000px;
}

/*左边栏部分开始*/

.skill, .info .innercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-grow: 1;
}

/*左边蓝色背景*/
.info {
    flex: 1;
    flex-grow: 1;
    background: url("../images/bg.png") repeat #188eee;
    /*background: url("../images/bg.png") repeat #188eee;*/
}

.info .innercontent {
    height: 100vh;
    min-height: 480px;
}

/*头像*/
.innercontent .resume-ico {
    border: 5px solid #5db0f3;
    border-radius: 50%;
}

.resume-name {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    color: #fff;
}
.resume-ico .img {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url("../images/avatar.jpg") no-repeat #fff center 20px/100px 100px;
}

/*头像闪烁动画*/
@keyframes glintShadow {
    from {
        box-shadow: 0 0 0 #5db0f3;
    }
    50% {
        box-shadow: 0 0 40px #ddd;
    }
    to {
        box-shadow: 0 0 0 #5db0f3;
    }
}

.info .resume-ico:hover {
    border-color: transparent;
}

.resume-ico:hover .img {
    animation: glintShadow 1s ease infinite;
}

.info-myinfo li {
    color: #ffffff;
    padding: 8px;
    width: 200px;
    margin: 0;
    position: relative;
}

.info p {
    color: #fff;
    text-align: center;
    padding: 8px;
}

/*引入自定义字体*/
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?2yaz95');
    src: url('../fonts/icomoon.eot?2yaz95#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2yaz95') format('truetype'),
    url('../fonts/icomoon.woff?2yaz95') format('woff'),
    url('../fonts/icomoon.svg?2yaz95#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*选择所有要添加字体图标的元素*/
.info-myinfo [class^="icon-"]::before {
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: inline;
    text-align: center;
    font-family: icomoon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 24px;
    margin-left: -40px;
    color: #ffffff;
    position: absolute;
    left: 10px;
    top: 7px;
}

.icon-email:before {
    content: "\e945";
}

.icon-address:before {
    content: "\e901";
}

.icon-mobile:before {
    content: "\e958";
}

.icon-github:before {
    content: "\eab0";
}

/*信息栏hover动画*/
.info-myinfo li:hover span:before,
.info-myinfo li:hover {
    transform: scale(1.1);
}

@keyframes fanzhuan {
    from {
        opacity: 0;
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(0deg);
        opacity: 1;
    }
}
.info .resume-school {
    width: 364px;
    border: 2px solid #5db0f3;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    opacity: 0;
    transform-style: preserve-3d;
    animation: fanzhuan 1s ease 1;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
    backface-visibility:hidden;
}

/*学历栏*/
.resume-school .content {
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 10px;
    border: 2px solid #0e6ad8;
}

.resume-school .content p {
    width: 45%;
    height: 40%;
    text-align: left;
    margin-left: 5%;
}

/*左边栏结束*/
/*右边栏开始*/
.skill {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*设定统一宽度*/
.skill-item > * {
    width: 100%;
}

.skill-item .skill-title {
    font-size: 30px;
    text-align: center;
}

.skill-item .skill-title span {
    color: #188eee;
}

/*左右边线，此处有点问题。用定位做总是会有一条线看不到 只有在合适宽度才能看到 故换个思路*/
.skill-item .skill-title span::before,
.skill-item .skill-title span::after {
    vertical-align: middle;
    height: 1px;
    width: 31%;
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
    background-color: #ccc;
    content: "";
}

.skill-item ul {
    margin-left: 10%;
    border-left: 1px solid #999;
    padding: 0 20px;
}

.skill-item ul li {
    width: 90%;
    text-align: left;
    color: #000;
    font-weight: 600;
    position: relative;
    margin-top: -10px;
    margin-bottom: 20px;
}

/*经历处的原点*/
.resume-experience ul li span::before {
    content: "";
    display: inline;
    width: 18px;
    height: 18px;
    background-color: #188eee;
    position: absolute;
    left: -30px;
    top: 3px;
    border: 3px solid #7dbff6;
    border-radius: 50%;
    box-sizing: border-box;
}

.skill-item ul li p {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    padding: 10px 0;
}

/*经历闪烁动画*/
@keyframes glintShadow2 {
    from {
        box-shadow: 0 0 0 #188eee;
    }
    50% {
        box-shadow: 0 0 10px #188eee;
    }
    to {
        box-shadow: 0 0 0 #188eee;
    }
}

/*鼠标划过小圆点border透明*/
.resume-experience ul li:hover span::before {
    border: transparent;
    width: 12px;
    height: 12px;
    left: -27px;
    top: 6px;
    animation: glintShadow2 1s ease infinite;
    animation-delay: 0.5s;
}

.resume-skill ul {
    border: none;
    width: 90%;
}

/*右侧熟悉程度*/
.resume-skill ul .level {
    color: #999;
    float: right;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid #999;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}
.resume-skill .level:hover{
    color: #188eee;
    border-color: currentColor
}
.resume-skill ul li p {
    font-size: 12px;
    padding: 0;
}

.resume-skill ul li {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.progress {
    height: 5px;
    background-color: #cccccc;
    margin: 20px 0;
    border-radius: 3px;
    position: relative;
}

/*进度条*/
.progress span {
    background: -webkit-linear-gradient(left, #117ad4, #10afed);
    width: 30%;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

.progress .progress-2 {
    width: 80%;
}

.progress .progress-3 {
    width: 60%;
}

.first:hover .progress-1 {
    animation: progressGrow 1s ease;
}

.second:hover .progress-2 {
    animation: progressGrow2 1s ease;
}

.third:hover .progress-3 {
    animation: progressGrow3 1s ease;
}

/*进度条动画*/
@keyframes progressGrow {
    from {
        width: 0;
    }
    to {
        width: 30%;
    }
}

@keyframes progressGrow2 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes progressGrow3 {
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
}
/*整体透明度+翻转动画*/
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

[class*="opacity"] {
    opacity: 0;
    animation: opacity 1s ease;
    animation-fill-mode: forwards;
}

.opacity1 {
    animation-delay: 0.3s;
}

.opacity2 {
    animation-delay: 0.6s;
}

.opacity3 {
    animation-delay: 0.9s;
}

.opacity4{
    animation-delay: 1.2s;
}

.opacity5 {
    animation-delay: 1.5s;
}

.opacity6 {
    animation-delay: 1.8s;
}
[class*="fanzhuan"]{
    opacity:0;
    animation:  fanzhuan 1s ease;
    animation-fill-mode: forwards;
    backface-visibility:hidden;
}
.fanzhuan1 {
    animation-delay: 2.4s;
}
.fanzhuan2 {
    animation-delay: 2.7s;
}

/*当宽度小于768px改变样式*/
@media (max-width: 768px) {
    .resume {
        flex-direction: column;
        height: auto;
    }

    .resume-item {
        height: 100vh;
    }

    .skill {
        height: auto;
        margin-top: 30px;
    }

    .skill h1 {
        font-size: 24px;
        position: relative;
        height: 1px;
        background-color: #999999;
        padding: 0;
        margin: 20px 0;
    }

    /*改造左右线条*/
    .skill-item h1 span {
        width: 104px;
        text-align: center;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: -16px;
        transform: translateX(-50%);
    }

    .skill-item .skill-title span::before, .skill-item .skill-title span::after {
        display: none;
    }
}